<div layout="row" ng-controller="dashCtrl" >
  
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
      
      <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
      <i class="material-icons md-48">account_box</i>        
      <span></span>
        <div>{{username}}</div>
        <div>{{role}}</div>
      </div>
    </md-toolbar>

    <md-list>
      <md-item ng-repeat="item in menu">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon>
                <i class="material-icons md-36">{{item.icon}}</i>
              </ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
    <md-subheader>Accounts</md-subheader>

      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon>
                <i class="material-icons md-36">{{item.icon}}</i>
              </ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>

    </md-sidenav>


    <div layout="column" flex id="content" layout-fill role="main">
      <md-button id="addButton" class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <i class="material-icons md-36">add</i>
      </md-button>

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
            <md-icon aria-label="Menu" ]><i class="material-icons">menu</i></md-icon>
          </md-button>
          <h1>Grapefruit</h1>
          
          <span flex></span>
          <!-- <i class="material-icons">search</i> -->
          <!-- <img src="grpfrt.png" "> -->
          <img src="https://a.thumbs.redditmedia.com/tM5Q6KafQn1AvFDH.png">

          <span flex></span>
          <md-button aria-label="Search" ng-click="showAdvanced($event)">
              <i class="material-icons">search</i>
          </md-button>
          
        </div>
      </md-toolbar>

      <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
              <div id="tab1-content"
                   layout="row" layout-align="center center">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                    <md-card-content>
                      <h2>Active Tickets</h2>
                      <md-list>
                        <md-item ng-repeat="ticket in tickets | orderBy: 'ticket.createdAt' : true ">
                          <md-item-content>

                            <div class="md-tile-content">
                              <h3>{{ticket.name}}</h3>
                              <h4>{{ticket.topic}}</h4>
                              <p>
                                {{ticket.problem}}
                              </p>
                            </div>
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>

                        <md-divider></md-divider>
                        <md-item layout class="inset">
                            <md-button layout layout-align="start center" flex class="md-primary">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                            </md-button>
                        </md-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
              </div>
                        
        </ui-view>
      </md-content>





    </div>
  </div>

</div>


<script type="text/ng-template" id="addTicket.tmpl.html">
<md-dialog aria-label="Add Ticket"  ng-cloak flex="80">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Ticket</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

          <md-input-container class="md-block" flex-gt-xs="">
            <label>Name</label>
            <input ng-model="newTicket.name" disabled="">
          </md-input-container>


          <md-input-container class="md-block" flex-gt-sm="">
            <label>Topic</label>
            <input ng-model="newTicket.topic">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Detailed Problem</label>
            <input ng-model="newTicket.problem">
          </md-input-container>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">   
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button ng-click="answer()">
       Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
