<div>
  <div>{{display}}</div>

  <button ng-click="signout()">signout</button>

  <!-- new ticket -->

  <div id='newticket'>
    <h1>New Ticket</h1>
    <form name="ticketForm" ng-submit='addTicket()'>


      <input name="topic" type="text" placeholder="topic"  ng-model='newTicket.topic' ng-minlength="2">

      <input id="problem" name="problem" type="text" placeholder="problem"  ng-model='newTicket.problem' ng-minlength="2">

      <button>Add Ticket</button>
    </form>
  </div>

  <!-- display tickets -->

  <div id="ticketList">  
    <h1>Existing Tickets</h1>

    <div class="ticket" ng-attr-id={{ticket._id}} ng-repeat="ticket in tickets | orderBy: 'ticket.createdAt' : true ">
      <div>{{ticket.name}}</div>
      <div>{{ticket.topic}}</div>
      <div>{{ticket.problem}}</div>
      <div>{{ticket.claimed}}</div>
      <div>{{ticket.completed}}</div>
    </div>
  </div>
  
</div>
